/* Nav Bar Style adapted from https://www.simplilearn.com/tutorials/html-tutorial/html-navigation-bar */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh; /*Adjusts height of the box*/
  background-color: teal;
}

.navtitle {   /*Changed from .heading in original code (only want to affect navbar)*/
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  margin-left: 20px;
}

.emphasis {   /*Added this to distinguish | from being mistaken as letters*/
  font-size: 30px;
  font-weight: 100;
}

.nav-links {
  display: flex;
  margin-right: 20px;
  justify-content: right;
  width: 60%; 

}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px; /*Affects area that is highlighted/coloured in hover/active (below)*/
}

.nav-links a:hover:not(.active) {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #4caf50;
}


/*Individual Page Set-Up: adapted from Assignment 3 (IOA tutorial)*/

html, body {
  width: 100%;
  height: 100%; 
  font-family: "Georgia";
}

h1 { /*Only affects the title of the page*/
  font-size: 35px;
  margin-top:20px;
  background-color: #4caf50; /*Added styles to match webpage theme*/
  padding: 20px;
  color: white;
  inline-size: 100%;
}

#textcontainer-content{
  margin-top: 40px; /*moves paragraph away from title; basically line spacing*/
  margin-left: 20px;
  margin-right: 20px;
  font-size:20px;
  inline-size: 100%;
  display:inline-block;
  text-align:left;

}



/*Button styling adapted from W3 Schools: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3*/

.button {
  display: inline-block;
  padding: 15px 25px;   
  margin: 30px;      /*Added this in to space buttons apart more*/
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightseagreen;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #4caf50}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#buttoncontainer {   /*Adapted from https://coder-coder.com/how-to-center-button-with-html-css*/
  text-align: center;
}













